/* :root {
    --primary-color: #1E6091;
    --white: #fff;
    --secondary-color: #99D98C;
    --accent1-color: #B5E48C;
    --accent2-color: #D9ED92;
}
    /*BASIC STYLING */
 * {
    margin:0;
    padding:0;
    
 }

body {
    font-family: 'Mulish', sans-serif;
    line-height: 1.6;
 }

main{
    width:100%;
}
    
.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: #ffffff;
    padding: 15px;
 }
    
.header img {
    max-width: 100px;
    margin-left: 1em;
}
    
.nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
   
.nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    font-weight: bold;
}

.hero {
    width:100%;
    position: relative;
    display:flex;
    justify-content: center;
}
.hero img{
    width:100%;
    
}

.tittle {
    position:absolute;
    text-align: center;
    font-size: 4rem;
    color: #ffffff;
    top:20px;
}
.client{
    position:absolute;
    padding:20px;
    width:50%;
    height:180px;
    bottom: 50px;
    background-color: aliceblue;
}
.client img{
    width:180px;
    float:right;
}
    
.container-h{
    width:70%;
    height:400px;
    margin: 0 auto;
    padding:20px;
    height:auto;
    display:grid;
    grid-template-columns: 2fr 1fr 2fr;
    column-gap: 40px;
    row-gap: 10px;
}
.container-h h2{
    grid-column:1/4;
    text-align: center;
    font-size: 2.5rem;
}
.container-h img{
    width:300px;
}
.container-h p{
    display:flex;
    align-items: center;
}

.adventure{
    width:90%;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 15px;
}
.adventure h2{
    grid-column: 1/6;
    text-align: center;
    font-size: 2.5rem;
}
.adventure img{
    height:195px;
}

footer{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding:20px;
}
footer p{
    justify-self: center;
}
.sociallinks{
    display:flex;
    justify-content: space-around;

}
.sociallinks img{
    width:40px;
}